* {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    height: 100vh;

    color: #bac3c4;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.AddForm {
    position: relative;
    top: 10vh;

    /* background: #1D3135; */

    width: 24%;
    margin-left: 2vw;

}

.title {
    font-weight: 600;
    font-family: Arial, sans-serif;
    padding-bottom: 2vh;
    padding-top: 2vh;

}

input {

    width: 300px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
}

input {

    width: 300px;
    height: 50px;
    margin: 10px;
    font-size: 15px;
}

.sumbit {
    width: 300px;
    height: 40px;

    margin: 0 auto;
    margin-bottom: 1.5vh;

    font-size: 15px;
    background: #2e10eb;
    border: 0ch;

    font-family: Arial, sans-serif;
    color: white;
}

.sumbit_clear {
    width: 300px;
    height: 40px;

    margin: 0 auto;
    margin-bottom: 1.5vh;
    background: #eb1043;
    border: 0;

    font-size: 15px;

    font-family: Arial, sans-serif;
    color: white;

}

.headers__title {
    /* color: white; */
}

.d {
    width: 900px;
    /* height: 500px; */
    /* border: 1px solid #c3c3c3; */
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 25vw; */
    /* margin: 0 auto; */
    margin-left: 34vw;
    /* background: #2e10eb; */
    position: relative;
    top: -50vh;
}

.card {
    background: #1D3135;
    border: 1px solid black;
    /* width: 25%; */
    /* position: relative; */
    width: 350px;
    /* height: 350px; */
    margin: 3vw;
    /* flex-wrap: wrap; */
    /* top: -40vh; */
    /* left: 25vw; */
    /* margin: 0 auto; */
    /* margin-bottom: 2vh; */

    /* border-radius: 4%; */



    box-shadow: 3px 3px #1D3135, -1em 0 .4em olive;


}

.movieName {
    font-weight: 600;
    font-family: Arial, sans-serif;
    padding-bottom: 2vh;
    padding-top: 3vh;

}

.buttonSumbit {
    border: 0;
    background: 0;
    padding-left: 1vw;
    color: #ADFF2F;


}

.operations {
    margin-left: 13.5vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}


.logo {
    width: 50px;
    height: 50px;
}