.active {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 6;

    transform: scale(1);
    transition: 0.8s;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    z-index: 6;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    transform: scale(1);
}

.active::-webkit-scrollbar {
    width: 5px;
}

.active::-webkit-scrollbar-thumb {
    background: #c4c4c4;

    border-radius: 4px;
}

.modal__content1 {
    background: #1d3135;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    /* margin-top: 90vh; */
    /* margin-top: 105vh; */
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 40px;
    padding: 15px;

    /* padding-bottom: 2.5rem; */

    width: 31rem;
}

textarea {
    border: 0;
    font-size: 15px;
    background: #1d3135;
    color: wheat;
    letter-spacing: 1.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.buttonClose {
    width: 9vw;
    height: 5vh;
    margin-right: 2vw;
    background: #008000;
    border: 0;
    color: white;
    font-size: 15px;

}

.buttonSave {
    width: 9vw;
    height: 5vh;
    background: blue;
    border: 0;
    color: white;
    font-size: 15px;

}

.updateInput {
    margin-top: 2vh;
}